@import "./fonts.css";
.intro {
  background-image: url("../img/wr-intro/background.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}

.wrapper {
  max-width: 1100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-weight: 600;
}

header {
  padding-top: 20px;
  background: #000;
  height: 70px;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.logo {
  font-family: "Myrialpro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo span {
  color: #ff8b38;
}

.nav ul {
  display: flex;
  align-items: center;
}
.nav li {
  margin-left: 34px;
  list-style-type: none;
}
.nav a {
  letter-spacing: 1px;
  color: #fff;
  font-family: "OpenSans-SemiBold", sans-serif;
  text-transform: capitalize;
  font-size: 12px;
}

.wr-intro {
  display: flex;
  justify-content: space-around;
}

.axit-title {
  margin-top: 110px;
}
.axit-title h1 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.axit-title span {
  color: #ff8b38;
}
.axit-title h2 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding-top: 33px;
  line-height: 43px;
}
.axit-title h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin: 30px 0;
}
.axit-title p {
  font-family: "Raleway-Light", sans-serif;
  font-size: 13px;
  color: #989793;
  padding-bottom: 40px;
  line-height: 20px;
}
.axit-title a {
  font-family: "OpenSans_SemiBold", sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 13px 30px;
  text-decoration: none;
}

.wrapper-input {
  background-color: #fff;
  margin-top: 140px;
  width: 360px;
  height: 365px;
}
.wrapper-input a {
  background-color: #ff8b38;
  font-family: "OpenSans_SemiBold", sans-serif;
  font-size: 13px;
  padding: 20px 140px;
  border-style: none;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-input p {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 18px;
  color: #333;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 20px 55px;
  margin: 0;
}
.title-input span {
  color: #ff8b38;
  white-space: pre;
}

.input-row p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-row p input {
  outline: 0;
}

.submit {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.input-name {
  display: flex;
  cursor: pointer;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #fff #fbfbfb #ccc #fbfbfb;
  width: 285px;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.get {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ff8b38;
  padding: 20px;
  color: #fff;
  transition: all 0.3s;
  margin-top: 45px;
}
.get:hover {
  background: #cc4926;
}

.social-media {
  background: #fff;
}

.sm-wrapper {
  height: 108px;
  display: flex;
  align-items: center;
}

.sm-block h4 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  margin: 0;
}
.sm-block p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  color: #b4b4b7;
  margin: 0;
}

svg {
  height: 45px;
  color: #ccc;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.3s;
}
svg.fa-facebook-f:hover {
  color: #3d5998;
}
svg.fa-twitter:hover {
  color: #00acee;
}
svg.fa-google:hover {
  color: #db4a39;
}
svg.fa-pinterest:hover {
  color: #c8232c;
}
svg.fa-instagram:hover {
  color: #3f729b;
}
svg.fa-stumbleupon:hover {
  color: #f25037;
}
svg.fa-rss:hover {
  color: #ee802f;
}

.fa-facebook-f {
  padding-left: 43px;
}

.fa-rss {
  padding-right: 0;
}

.slider {
  background: #f5f5f5;
  height: 595px;
}

.slider-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper h3 {
  font-family: "OpenSans-Bold", sans-serif;
}
.slider-wrapper p {
  font-family: "OpenSans-Regular", sans-serif;
  color: #a2a3ab;
}
.slider-wrapper a {
  text-decoration: none;
  cursor: pointer;
  background: #ff8b38;
  padding: 16px 24px;
  color: #fff;
  border-radius: 3px;
}

.slick-slide {
  float: none;
}

.slick-list {
  height: 600px;
}

.slick-track {
  display: block;
}

.slider-item {
  height: 110px;
}

.block {
  padding-bottom: 52px;
}

.slider-text {
  margin-left: 100px;
  margin-right: 100px;
}

.sub-list {
  background: #fff;
}

.sub-list-wrapper {
  height: 595px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-list-section {
  padding-left: 200px;
}
.sub-list-section h3 {
  font-family: "OpenSans-Bold", sans-serif;
}
.sub-list-section h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ff8b38;
  margin: 30px 0;
}
.sub-list-section p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a2a3ab;
}

.title-block {
  display: flex;
}

.title {
  padding-left: 30px;
}

.chexbox {
  display: none;
}

.title-block-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ff8b38;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin-top: 20px;
}
.title-block-img:hover {
  cursor: pointer;
  background: rgba(247, 153, 85, 0.3);
}

.svg-inline--fa {
  width: 19px;
  height: 15px;
  fill: #ff8b38;
}

.standart {
  background: #f5f5f5;
}

.standart-wrapper {
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standart-text {
  padding-right: 200px;
}
.standart-text h3 {
  font-family: "OpenSans-Bold", sans-serif;
}
.standart-text h3::after {
  content: "";
  display: block;
  width: 65px;
  height: 2px;
  background-color: #ff8b38;
  margin: 30px 0;
}
.standart-text p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a2a3ab;
}

.card-group {
  background: #fff;
  height: 590px;
}

.card-group-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-group-title h2 {
  font-family: "Raleway-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  margin: 105px 0 0 0;
}
.card-group-title h2::after {
  content: "";
  display: block;
  width: 65px;
  height: 2px;
  background-color: #ff8b38;
  margin: 30px auto;
}
.card-group-title p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a2a3ab;
  margin: 0;
}

.card-group-wrapper {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h3 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 17px;
  margin: 0;
}
.card p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a2a3ab;
  padding-top: 30px;
  margin: 0;
}
.card:nth-child(2) {
  padding: 0 30px 0 30px;
}

.svg-inline {
  width: 35px;
  height: 30px;
  color: #ff8b38;
}

.card-svg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ff8b38;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin: 80px 0 30px 0;
}
.card-svg:hover {
  cursor: pointer;
  background: rgba(247, 153, 85, 0.3);
}

.pricing {
  background: #f5f5f5;
}

.pricing-wrapper {
  height: 880px;
}

.reviews {
  background: #fff;
}

.reviews-wrapper {
  height: 595px;
}

.design-wrapper {
  height: 320px;
}

.contact {
  background: #fff;
}

.contact-wrapper {
  height: 615px;
}

.footer {
  background-color: #000;
}

.footer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  justify-content: center;
}

.footer-icons img {
  padding: 20px 15px 0 15px;
}
.footer-icons p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 10px;
  color: #585858;
  text-align: center;
  padding: 15px 0 15px 0;
  margin: 0;
}