@import "./fonts.css";
@import "./reset.css";
.intro {
  background-image: url("../img/wr-intro/background.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}

.wrapper {
  max-width: 1100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  font-weight: 600;
}

header {
  padding: 20px 0;
  background: #000;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.logo {
  font-family: "Myrialpro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo span {
  color: #ff8b38;
}

.nav ul {
  display: flex;
  align-items: center;
}
.nav li {
  margin-left: 34px;
  list-style-type: none;
}
.nav a {
  letter-spacing: 1px;
  color: #fff;
  font-family: "OpenSans-SemiBold", sans-serif;
  text-transform: capitalize;
  font-size: 12px;
}

.wr-intro {
  display: flex;
  justify-content: space-around;
}

.axit-title-form {
  display: flex;
  padding-top: 200px;
}

.axit-title .axit-title-title {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.axit-title span {
  color: #ff8b38;
}
.axit-title h1 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  line-height: 43px;
}
.axit-title h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin: 30px 0;
}
.axit-title p {
  font-family: "Raleway-Light", sans-serif;
  font-size: 13px;
  color: #989793;
  margin-bottom: 45px;
  line-height: 20px;
}
.axit-title a {
  font-family: "OpenSans_SemiBold", sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  padding: 13px 30px;
  text-decoration: none;
}

.form-header {
  background-color: #fff;
  width: 360px;
}

.form-title {
  text-align: center;
}
.form-title p {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 18px;
  color: #333;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.form-title span {
  color: #ff8b38;
  white-space: pre;
}

.form-group {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.form-input {
  width: 80%;
  padding: 40px 0 10px 0;
  font-family: "OpenSans-Regular", sans-serif;
  color: #bdbdbd;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}
.form-input:focus {
  border-bottom: 1px solid #1a73a8;
}

.form-label {
  display: flex;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.3s;
  cursor: pointer;
  margin: 40px;
}
.form-label:last-child {
  margin-bottom: 55px;
}

.submit {
  opacity: 0;
}

.get {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSans_SemiBold", sans-serif;
  font-size: 14px;
  cursor: pointer;
  background: #ff8b38;
  padding: 20px;
  color: #fff;
  transition: all 0.3s;
}
.get:hover {
  background: #cc4926;
}

.social-media {
  background: #fff;
}

.sm-wrapper {
  height: 108px;
  display: flex;
  align-items: center;
}

.sm-block h4 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  padding-bottom: 5px;
}
.sm-block p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #b4b4b7;
  padding: 5px 0;
}

svg {
  height: 45px;
  color: #ccc;
  padding-left: 35px;
  padding-right: 35px;
  transition: all 0.3s;
}
svg.fa-facebook-f:hover {
  color: #3d5998;
}
svg.fa-twitter:hover {
  color: #00acee;
}
svg.fa-google:hover {
  color: #db4a39;
}
svg.fa-pinterest:hover {
  color: #c8232c;
}
svg.fa-instagram:hover {
  color: #3f729b;
}
svg.fa-stumbleupon:hover {
  color: #f25037;
}
svg.fa-rss:hover {
  color: #ee802f;
}

.fa-facebook-f {
  padding-left: 43px;
}

.fa-rss {
  padding-right: 0;
}

.slider {
  background: #f5f5f5;
  height: 595px;
}

.slider-wrapper {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper h3 {
  font-family: "OpenSans-Bold", sans-serif;
  margin: 0;
  padding-bottom: 50px;
}
.slider-wrapper p {
  font-family: "OpenSans-Regular", sans-serif;
  color: #a2a3ab;
  margin: 0;
}
.slider-wrapper a {
  text-decoration: none;
  cursor: pointer;
  background: #ff8b38;
  padding: 16px 24px;
  color: #fff;
  border-radius: 3px;
}

.slick-slide {
  float: none;
}

.slick-list {
  height: 600px;
}

.slick-track {
  display: block;
}

.slider-item {
  height: 110px;
}

.block {
  padding-top: 26px;
  margin: 0;
}

.btn {
  margin-top: 50px;
}

.slider-text {
  margin-left: 100px;
  margin-right: 100px;
}

.sub-list {
  background: #fff;
}

.sub-list-wrapper {
  height: 595px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-list-section {
  padding-left: 200px;
}
.sub-list-section h3 {
  font-family: "OpenSans-Bold", sans-serif;
}
.sub-list-section h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ff8b38;
  margin: 30px 0;
}
.sub-list-section p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a2a3ab;
}

.title-block {
  display: flex;
}

.title {
  padding-left: 30px;
}

.chexbox {
  display: none;
}

.title-block-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ff8b38;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin-top: 20px;
}
.title-block-img:hover {
  cursor: pointer;
  background: rgba(247, 153, 85, 0.3);
}

.svg-inline--fa {
  width: 19px;
  height: 15px;
  fill: #ff8b38;
}

.standart {
  background: #f5f5f5;
}

.standart-wrapper {
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.standart-text {
  padding-right: 200px;
}
.standart-text h3 {
  font-family: "OpenSans-Bold", sans-serif;
}
.standart-text h3::after {
  content: "";
  display: block;
  width: 65px;
  height: 2px;
  background-color: #ff8b38;
  margin: 30px 0;
}
.standart-text p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a2a3ab;
}

.card-group {
  background: #fff;
  height: 590px;
}

.card-group-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-group-title h2 {
  font-family: "Raleway-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  margin: 105px 0 0 0;
}
.card-group-title h2::after {
  content: "";
  display: block;
  width: 65px;
  height: 2px;
  background-color: #ff8b38;
  margin: 30px auto;
}
.card-group-title p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a2a3ab;
  margin: 0;
}

.card-group-wrapper {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card h3 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 17px;
  margin: 0;
}
.card p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a2a3ab;
  padding-top: 30px;
  margin: 0;
}
.card:nth-child(2) {
  padding: 0 30px 0 30px;
}

.svg-inline {
  width: 35px;
  height: 30px;
  color: #ff8b38;
}

.card-svg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ff8b38;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin: 80px 0 30px 0;
}
.card-svg:hover {
  cursor: pointer;
  background: rgba(247, 153, 85, 0.3);
}

.pricing {
  background: #f5f5f5;
}

.pricing-wrapper {
  height: 880px;
}

.table {
  display: flex;
  align-items: flex-end;
  margin-top: 80px;
}
.table table {
  width: 345px;
}
.table table td {
  text-align: center;
  background-color: #fff;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  height: 40px;
  color: #c3c3c5;
  text-transform: uppercase;
}
.table th {
  background-color: #333;
  color: #fff;
  height: 59px;
}
.table .first {
  background-color: #333;
  color: #fff;
  height: 100px;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 33px;
}
.table .first .zero {
  font-size: 57px;
}
.table .first .seven {
  font-size: 67px;
}
.table .first .nine {
  font-size: 69px;
}
.table .first .one {
  font-size: 54px;
}
.table .second {
  background-color: #333;
  color: #999;
  height: 51px;
  font-family: "OpenSans_SemiBold", sans-serif;
  font-size: 11px;
  font-style: italic;
  text-transform: inherit;
}
.table .orange {
  background: #ff8b38;
  height: 6px;
}
.table .middle {
  background: #ff8b38;
  height: 40px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}
.table .table-middle {
  margin: 0 40px;
}

.reviews {
  background: #fff;
}

.reviews-wrapper {
  height: 595px;
}

.customer-wrapper {
  display: flex;
  margin-top: 55px;
}

.customer-reviews .customer {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #949598;
  background-color: #f5f5f5;
  padding: 25px 12px;
  border-radius: 3px;
  font-style: italic;
  position: relative;
}
.customer-reviews .customer::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #f5f5f5;
}
.customer-reviews:nth-child(2) {
  margin: 0 120px;
}

.customer-name {
  display: flex;
  padding-top: 10px;
}
.customer-name::before {
  content: "";
  vertical-align: top;
  background: url("../img/contact/face.jpg") 0 0px no-repeat;
  width: 70px;
  height: 70px;
  display: inline-block;
}
.customer-name .name {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  margin: 0;
}
.customer-name .profession {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #a4a5a8;
}
.customer-name img {
  padding-top: 10px;
  padding-right: 15px;
}

.block-name {
  flex-direction: column;
  padding-left: 15px;
}

.design {
  background-image: url("../img/design/street.jpg");
  background-size: cover;
}

.design-wrapper {
  height: 320px;
  margin: 0 auto;
}

.design-group-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design-group-title h2 {
  font-family: "Raleway-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  margin: 74px 0 0 0;
  color: #fff;
}
.design-group-title h2::after {
  content: "";
  display: block;
  width: 65px;
  height: 2px;
  background-color: #fff;
  margin: 30px auto;
}
.design-group-title p {
  font-family: "Raleway-Light", sans-serif;
  font-size: 12px;
  color: #9c9992;
  margin: 0;
}
.design-group-title a {
  font-family: "OpenSans_SemiBold", sans-serif;
  font-size: 13px;
  text-transform: capitalize;
  color: #fff;
  border: 2px solid #fff;
  padding: 13px 30px;
  text-decoration: none;
  margin-top: 33px;
  margin-bottom: 63px;
}
.design-group-title a:hover {
  color: #ee802f;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-footer.form-input {
  display: flex;
}
.form-footer a {
  text-decoration: none;
  cursor: pointer;
  background: #ff8b38;
  padding: 16px 24px;
  color: #fff;
  border-radius: 3px;
}

.contact {
  background: #fff;
}

.contact-wrapper {
  height: 615px;
}

.footer {
  background-color: #000;
}

.footer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  justify-content: center;
}

.footer-icons img {
  padding: 20px 15px 0 15px;
}
.footer-icons p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 10px;
  color: #585858;
  text-align: center;
  padding: 15px 0 15px 0;
  margin: 0;
}