@import "./fonts.css";
@import "./reset.css";

// color
$cw:#fff;
$cf5: #f5f5f5;
$cw-10: #ccc;
$grey: #a2a3ab;
$grey-10: #333; 
$orange: #ff8b38;
$orange-10: #ee802f;
$black: #000;
.intro {
	background-image: url("../img/wr-intro/background.jpg");
	background-size: cover;
	background-position: center bottom;
	height: 100vh;
}
.wrapper {
	max-width: 1130px;
	display: flex;
	margin-left: auto;
	margin-right: auto;  
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	font-weight: 600;
}
header {
	padding: 20px 0;
	background: $black;
}
header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 1;
}
.logo {
	font-family: "Myrialpro", sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: $cw;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	text-decoration: none;
	span {
		color: $orange;
	}
}
.nav {
	ul {
	display: flex;
	align-items: center;
 }
	li {
	margin-left: 34px;
	list-style-type: none;
	}
	a {
		letter-spacing: 1px;
		color: $cw;
		font-family: "OpenSans-SemiBold", sans-serif;
		text-transform: capitalize;
		font-size: 12px;
	}
}
.wr-intro {
	display: flex;
	justify-content: space-around;
}
.axit-title-form {
	display: flex;
	padding-top: 200px;
	
}
.axit-title {
		& .axit-title-title {
			font-family: "Raleway-Regular", sans-serif;
			font-size: 60px;
			color: $cw;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		& .title-decor {
			width: 50px;
			height: 2px;
			background-color: $cw;
		}
		span {
			color: $orange;
		}
		h1 {
			font-family: "Raleway-Regular", sans-serif;
			font-size: 30px;
			font-weight: 400;
			color: $cw;
			text-transform: uppercase;
			line-height: 43px;
			margin-bottom: 30px;
			// &::after {
			// 	content:"";
			// 	display: block;
			// 	width: 50px;
			// 	height: 2px;
			// 	background-color: $cw;
			// 	margin: 30px 0;
			// }
		}
		p {
			font-family: "Raleway-Light", sans-serif;
			font-size: 13px;
			color: #989793;
			margin-bottom: 45px;
			line-height: 20px;
		}
		a {
			font-family: "OpenSans_SemiBold", sans-serif;
			font-size : 13px;
			text-transform: capitalize;
			color: $cw;
			border: 2px solid $cw;
			border-radius: 2px;
			padding: 13px 30px;
			text-decoration: none;
		}		
}
.form-header {
	background-color: $cw;
	width: 360px;
}
.form-title {
	text-align: center;
		p {
		font-family: "OpenSans-Bold", sans-serif;
		font-size: 18px;
		color: $grey-10;
		background-color: $cf5;
		display: flex;
		justify-content: center;
		padding: 20px;
		}
		span {
			color: $orange;
			white-space: pre;
		}
}
.form-group {
	  font-family: "OpenSans-Regular", sans-serif;
		font-size: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-bottom: 40px;
}
.form-input {
	width: 80%;
	padding: 40px 0 10px 0;
	font-family: "OpenSans-Regular", sans-serif;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	background-color: transparent;
	outline: none;
	transition :0.3s;
	&:focus {
		border-bottom: 1px solid #1a73a8;
	}
}
.form-label {
	display: flex;
	position: absolute;
	top: 0;
	z-index: -1;
	transition :0.3s;
	cursor: pointer;
	margin: 40px;
		&:last-child {
			margin-bottom: 55px;
		}
}
.submit {
	opacity: 0;
}
.get {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "OpenSans_SemiBold", sans-serif;
	font-size: 14px;
	cursor: pointer;
	background: $orange;
	padding: 20px;
	color: $cw;
	transition: all .3s;
	&:hover {
		background: #cc4926;
	}
}
.social-media {
	background: $cw;
	// box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 1);
}
.sm-wrapper {
	height: 108px;
	display: flex;
	align-items: center;
	
}
.sm-block {
	h4 {
		font-family: "OpenSans-Bold", sans-serif;
		font-size: 20px;
		padding-bottom: 5px;
	}
	p {
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 12px;
	color: #b4b4b7;
	padding: 5px 0;
	}
}
.sm-icons {
	display: flex;
	
	& svg {
		height: 45px;
		color: $cw-10;
		margin-left: 35px;
		margin-right: 35px;
		transition: all .3s;
		&.fa-facebook-f:hover {
			color: #3d5998;
		}

		&.fa-twitter:hover {
			color: #00acee;
		}

		&.fa-google:hover {
			color: #db4a39;
		}

		&.fa-pinterest:hover {
			color: #c8232c;
		}

		&.fa-instagram:hover {
			color: #3f729b;
		}

		&.fa-stumbleupon:hover {
			color: #f25037;
		}

		&.fa-rss:hover {
			color: $orange-10;
		}
	}
}
.sm-icons .fa-facebook-f {
	margin-left: 65px;
}
.sm-icons .fa-rss {
	margin-right: 0;
}
.slider {
	background: $cf5; 
}
.slider-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 115px;
	h3 {
		font-family: "OpenSans-Bold", sans-serif;
		font-size: 16px;
		padding-bottom: 50px;
	}
	p {
		font-family: "OpenSans-Regular", sans-serif;
		font-size: 12px;
		line-height: 20px;
		color: $grey;
		padding-bottom: 13px;
	}
	a {
		font-family: "OpenSans_SemiBold", sans-serif;
		font-size: 12px;
		text-decoration: none;
		cursor: pointer;
		background: $orange;
		padding: 16px 24px;
		color: $cw;
		border-radius: 3px;
		display: inline-block;
		margin-top: 50px;
	}
}
.slick-slide {
	float: none;
}
.slick-list {
	height: 600px;
}
.slick-track {
	display: block;
}
.slider-item {
	height: 110px;
}
.slider-text {
	margin-left: 100px;
	margin-right: 100px;
}
.sub-list {
	background: $cw;
}
.sub-list-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 110px;
	margin-bottom: 140px;
}
.img {
	max-width: 455px;
	// width: 41.36%;
}

.sub-list-section {
	width: 41.36%;
	p {
		font-family: "OpenSans-Regular", sans-serif;
		font-size: 12px;
		line-height: 20px;
		color: $grey;
	}
}
.sub-list-title {
	& .title-decor {
	width: 50px;
	height: 2px;
	background-color: $orange;
	}
	h3 {
	font-family: "OpenSans-Bold", sans-serif;
	font-size: 16px;
	margin-bottom: 30px;
	}
	p {
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: $grey;
	margin-top: 30px;
	}
}
.title-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 45px;
}
.title-block-heading {
	max-width: 355px;	
}
.title-block-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid $orange;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s;
		&:hover {
			cursor: pointer;
			background: rgba(247, 153, 85, .3);
		}
}
.svg-inline--fa {
	width: 19px;
	height: 15px;
	fill: $orange;
}
.standart {
	background: $cf5;
}
.standart-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 90px;
	margin-bottom: 130px;
}
.standart-text {
	// max-width: 480px;
	width: 41.36%;
	h3 {
		font-family: "OpenSans-Bold", sans-serif;
		font-style: 16px;
		 &::after {
		 	content: "";
		 	display: block;
		 	width: 65px;
		 	height: 2px;
		 	background-color: $orange;
		 	margin: 30px 0;
		 }
	}
	p {
		font-family: "OpenSans-Regular", sans-serif;
		font-size: 12px;
		color: $grey;
		line-height: 20px;
	}
}
.card-group {
	background: $cw;
	
}
.card-group-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	& .title-decor {
		width: 65px;
		height: 2px;
		background-color: $orange;
	}
	h2 {
		font-family: "Raleway-Regular", sans-serif;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 400;
		margin: 105px 0 30px 0;
		
	}
	p {
		font-family: "OpenSans-Regular", sans-serif;
		font-size: 12px;
		color: $grey;
		margin-top: 30px;
	}
}
.card-group-wrapper {
	display: flex;
	margin-bottom: 105px;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
		h3 {
			font-family: "OpenSans-Bold", sans-serif;
			font-size: 17px;
			margin: 0;
		}
		p {
			font-family: "OpenSans-Regular", sans-serif;
			font-size: 12px;
			color: $grey;
			padding-top: 30px;
			line-height: 20px;
		}
		&:nth-child(2) {
			padding: 0 30px 0 30px;
		}
}
.svg-inline {
	width: 35px;
	height: 30px;
	color: $orange;
}
.card-svg {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid $orange;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s;
	margin: 80px 0 30px 0;
	&:hover {
		cursor: pointer;
		background: rgba(247, 153, 85, .3);
	}
}
.pricing {
	background: $cf5;
}
.pricing-wrapper {
	margin-bottom: 96px;
}
.pricing-card {
	// width: 33.333%;
	min-width: 343px;
	&:nth-child(2) {
		margin: 0 40px 0 40px;
	}
}
.pricing-card-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 80px;
}
.pricing-card-body {
	text-align: center;
	& .pricing-card-caption {
		font-family: "OpenSans-Bold", sans-serif;
		font-size: 16px;
		color: $cw;
		background-color: #333;
		padding: 22px 0;
		border-bottom: 2px solid $cw;
	}
	& .price {
		font-family: "Raleway-Bold",
		sans-serif;
		font-size: 33px;
		color: $cw;
		background-color: #333;
		& .zero {
			font-size: 57px;
		}
		& .seven {
				font-size: 67px;
			}
		& .nine {
			font-size: 69px;
		}
		& .one {
			font-size: 54px;
		}
	}
	p {
		font-family: "OpenSans_SemiBold", sans-serif;
		font-size: 11px;
		color: #999;
		font-style: italic;
		text-transform: inherit;
		background-color: #333;
		padding: 20px 0 22px 0;
		border-bottom: 5px solid $orange;
	}
	& .pricing-card-item {
		font-family: "OpenSans-Bold", sans-serif;
		font-size: 10px;
		color: $cw;
		text-transform: uppercase;
		background-color: $orange;
		padding: 14px;
	}
}
.features {
	text-align: center;
	background-color: $cw;
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #c3c3c5;
	text-transform: uppercase;
	& .features-item {
		border-bottom: 1px solid #f5f5f5;
		padding: 14px 0;
	}
	
}
.reviews {
	background: $cw;
}
.customer-wrapper {
	display: flex;
	margin-top: 55px;
	margin-bottom: 100px;
}
.customer-reviews {
	& .customer {
		font-family: "OpenSans-Regular", sans-serif;
		font-size: 12px;
		line-height: 20px;
		color: #949598;
		background-color: #f5f5f5;
		padding: 25px 12px;
		border-radius: 3px;
		font-style: italic;
		position: relative;
		 &::after {
			content: "";
			position: absolute;
			left: 20px;
			bottom: -20px;
			border: 10px solid transparent;
			border-top: 10px solid #f5f5f5;
		}
	}
	&:nth-child(2) {
		margin: 0 120px;
	}
}
.customer-name {
	display: flex;
	padding-top: 20px;
	&::before {
		content: "";
		vertical-align: top;
		background: url("../img/contact/face.jpg") 0 0px no-repeat;
		width: 70px;
		height: 70px;
		display: inline-block;
	}
	
	& .name {
		font-family: "OpenSans-Bold", sans-serif;
		font-size: 20px;
		padding-bottom: 10px;
	}
	& .profession {
		font-family: "OpenSans-Regular", sans-serif;
		font-size: 12px;
		color: #a4a5a8;
	}
	 img {
		 padding-top: 10px;
		 padding-right: 15px;
	 }
}
.block-name {
	flex-direction: column;
	padding-left: 15px;
	margin-top: 15px;
}
.design {
	background-image: url("../img/design/street.jpg");
	background-size: cover;
}
.design-wrapper {
	margin: 0 auto;
}
.design-group-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		font-family: "Raleway-Regular", sans-serif;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 400;
		margin: 74px 0 0 0;
		color: $cw;
		&::after {
			content: "";
			display: block;
			width: 65px;
			height: 2px;
			background-color: $cw;
			margin: 30px auto;
		}
	}
	p {
		font-family: "Raleway-Light", sans-serif;
		font-size: 12px;
		color: #9c9992;
		margin: 0;
	}
	a {
		font-family: "OpenSans_SemiBold", sans-serif;
		font-size: 13px;
		text-transform: capitalize;
		color: $cw;
		border: 2px solid $cw;
		padding: 13px 30px;
		text-decoration: none;
		margin-top: 33px;
		margin-bottom: 63px;
		&:hover {
			color: $orange-10;
		}
	}
}
.form-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&.form-input {
		display: flex;
	}
	a {
		text-decoration: none;
		cursor: pointer;
		background: $orange;
		padding: 16px 24px;
		color: $cw;
		border-radius: 3px;
	}
}
.form-wrapper {
	display: flex;
}
.form-btn {
	margin-top: 60px;
	margin-bottom: 105px;
}
.contact {
	background: $cw;
}
.contact-wrapper {
	width: 100vw;
}

.footer {
	background-color: $black;
}
.footer-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	justify-content: center;
	
}
.footer-icons {
	
	img {
		padding: 20px 15px 0 15px;
	}
	p {
		font-family: "OpenSans-Regular",sans-serif;
		font-size: 10px;
		color: #585858;
		text-align: center;
		padding: 15px 0 15px 0;
		margin: 0;
	}
}

