@import "./fonts.css";
@import "./reset.css";
@import "./settings.css";

// color
$cw:#fff;
$cf5: #f5f5f5;
$cw-10: #ccc;
$grey: #a2a3ab;
$grey-10: #333; 
$orange: #ff8b38;
$orange-10: #ee802f;
$black: #000;
// fonts
$OpS-Reg: "OpenSans-Regular", sans-serif;
$OpS-SemiB: "OpenSans-SemiBold", sans-serif;
$OpS-Bold: "OpenSans-Bold", sans-serif;
$Rel-Reg: "Raleway-Regular", sans-serif;
$Rel-Light: "Raleway-Light", sans-serif;
$Rel-Bold: "Raleway-Bold", sans-serif;
$Mpro-Reg: "Myrialpro", sans-serif;
// size
$fs-xm: 10px;
$fs-sm: 12px;
$fs-s: 16px;
$fs-m: 20px;
.intro {
	background-image: url("../img/wr-intro/background.jpg");
	background-size: cover;
	background-position: center bottom;
	height: 100vh;
}
.wrapper {
	max-width: 1130px;
	display: flex;
	margin-left: auto;
	margin-right: auto;  
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	font-weight: 600;
	
}
header {
	padding: 20px 0;
	background: $black;
}
header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 1;
}
.logo {
	font-family: $Mpro-Reg;
	font-weight: 600;
	font-size: 30px;
	color: $cw;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	text-decoration: none;
	span {
		color: $orange;
		&:hover {
			color: $cw;
		}
	}
	&:hover {
		color: $orange;
	}
}
.nav {
	ul {
	display: flex;
	align-items: center;
 }
	li {
	margin-left: 34px;
	list-style-type: none;
	}
	a {
		letter-spacing: 1px;
		color: $cw;
		font-family: $OpS-SemiB;
		text-transform: capitalize;
		font-size: $fs-sm;
		&:hover {
			color: $orange;
		}
	}
}
.wr-intro {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}
.axit-title-form {
	display: flex;
	padding-top: 200px;
	
}
.axit-title {
		& .axit-title-title {
			font-family: $OpS-Reg;
			font-size: 60px;
			color: $cw;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		& .title-decor {
			width: 50px;
			height: 2px;
			background-color: $cw;
		}
		span {
			color: $orange;
		}
		h1 {
			font-family: $Rel-Reg;
			font-size: 30px;
			font-weight: 400;
			color: $cw;
			text-transform: uppercase;
			line-height: 1.45;
			margin-bottom: 30px;
			position: relative;
			&::before {
				content:"";
				display: block;
				width: 50px;
				height: 2px;
				background-color: $cw;
				position: absolute;
				bottom: -13px;
				left: 0;
			}
		}
		p {
			font-family: $Rel-Light;
			font-size: 13px;
			color: #989793;
			margin-bottom: 45px;
			line-height: 1.5;
		}
		a {
			font-family: $OpS-SemiB;
			font-size : 13px;
			text-transform: capitalize;
			color: $cw;
			border: 2px solid $cw;
			border-radius: 2px;
			padding: 13px 30px;
			text-decoration: none;
			&:hover {
				color: $orange-10;
				background-color: $cw;
			}
		}		
}
.form-header {
	background-color: $cw;
	max-width: 360px;
}
.form-title {
	text-align: center;
		p {
		font-family: $OpS-Bold;
		font-size: 18px;
		color: $grey-10;
		background-color: $cf5;
		display: flex;
		justify-content: center;
		padding: 20px;
		}
		span {
			color: $orange;
			white-space: pre;
		}
}
.form-group {
	  font-family: $OpS-Reg;
		font-size: $fs-sm;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding-bottom: 40px;
}
.form-input {
	width: 80%;
	margin: 40px 0 10px 0;
	font-family: $OpS-Reg;
	color: #d6d6d6;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	background-color: transparent;
	padding-bottom: 10px;
	outline: none;
	transition :0.3s;
	&:focus {
		border-bottom: 1px solid #1a73a8;
	}
}
.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $OpS-SemiB;
	font-size: 14px;
	cursor: pointer;
	background: $orange;
	padding: 20px 128px;
	color: $cw;
	transition: all .3s;
	&:hover {
		background: #cc4926;
	}
}
.social-media {
	background: $cw;
	position: relative;
	box-shadow: 0px 3px 2px 0px rgba(183, 183, 183, 1);
}
.sm-wrapper {
	height: 108px;
	display: flex;
	align-items: center;
	
}
.sm-block {
	h4 {
		font-family: $OpS-Bold;
		font-size: 20px;
		margin-bottom: 5px;
	}
	p {
	font-family: $OpS-Reg;
	font-size: $fs-sm;
	color: #b4b4b7;
	line-height: 1.5;
	}
}
.sm-icons {
	display: flex;
	& a {
		margin-left: 35px;
		margin-right: 35px;
		&:first-child {
			margin-left: 85px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	& svg {
		height: 45px;
		color: $cw-10;
		transition: all .3s;
		&.fa-facebook-f:hover {
			color: #3d5998;
		}

		&.fa-twitter:hover {
			color: #00acee;
		}

		&.fa-google:hover {
			color: #db4a39;
		}

		&.fa-pinterest:hover {
			color: #c8232c;
		}

		&.fa-instagram:hover {
			color: #3f729b;
		}

		&.fa-stumbleupon:hover {
			color: #f25037;
		}

		&.fa-rss:hover {
			color: $orange-10;
		}
	}
}
.tabs {
	background: $cf5; 
}
.tabs-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
	padding-bottom: 115px;
	h3 {
		font-family: $OpS-Bold;
		font-size: 16px;
		margin-bottom: 50px;
	}
	p {
		font-family: $OpS-Reg;
		font-size: $fs-sm;
		line-height: 1.6;
		color: $grey;
		padding-bottom: 13px;
	}
	img {
		max-width: 320px;
	}
}
.tabs-container {
	width: 110px;
	position: relative;
	& span {
		font-family: $OpS-Bold;
		font-size: $fs-sm;
		color: #fff;
		text-transform: uppercase;
	}
	& .tab1 {
		position: absolute;
		top: 17%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	& .tab2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	& .tab3 {
		position: absolute;
		top: 82%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.tabs-item {
	background-color: $black;
	width: 110px;
	height: 110px;
	border: 1px solid #c7c7c7;
	&:hover {
		background-color: #ff8b38;
	}
}
.tabs-text {
	margin-left: 100px;
	margin-right: 100px;
	& a {
		font-family: $OpS-SemiB;
		font-size: $fs-sm;
		text-decoration: none;
		cursor: pointer;
		background: $orange;
		padding: 16px 24px;
		color: $cw;
		border-radius: 3px;
		display: inline-block;
		margin-top: 50px;
		&:hover {
			background-color: $grey-10;
			color: $orange;
		}
	}
}
.b-tab {
	display: none;
}
.b-tab.active {
	display: block;
}
.b-nav-tab.active {
	color: #ff4200;
}
.sub-list {
	background: $cw;
}
.sub-list-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 110px;
	padding-bottom: 140px;
}
.img {
	max-width: 454px;
	height: auto;
	overflow: hidden;
}

.sub-list-section {
	width: 42%;
	p {
		font-family: $OpS-Reg;
		font-size: $fs-sm;
		line-height: 1.6;
		color: $grey;
	}
}
.sub-list-title {
	h3 {
	font-family: $OpS-Bold;
	font-size: 16px;
	margin-bottom: 60px;
	position: relative;
	&::before {
		content: "";
		display: block;
		width: 64px;
		height: 2px;
		background-color: $orange;
		position: absolute;
		bottom: -33px;
		left: 0;
	}
	}
	p {
	font-family: $OpS-Reg;
	font-size: $fs-sm;
	line-height: 1.6;
	color: $grey;
	margin-top: 30px;
	}
}
.title-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 45px;
}
.title-block-heading {
	max-width: 355px;	
}
.title-block-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid $orange;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s;
		&:hover {
			cursor: pointer;
			background: rgba(247, 153, 85, .3);
		}
}
.svg-inline--fa {
	width: 19px;
	height: 15px;
	fill: $orange;
}
.standart {
	background: $cf5;
}
.standart-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 90px;
	padding-bottom: 130px;
}
.standart-text {
	// max-width: 480px;
	width: 42%;
	h3 {
		font-family: $OpS-Bold;
		font-size: 16px;
		margin-bottom: 60px;
		position: relative;
		&::before {
			content: "";
			display: block;
			width: 64px;
			height: 2px;
			background-color: $orange;
			position: absolute;
			bottom: -33px;
			left: 0;
		}
	}
	p {
		font-family: $OpS-Reg;
		font-size: $fs-sm;
		color: $grey;
		line-height: 1.6;
	}
}
.card-group {
	background: $cw;
	
}
.card-group-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	& .title-decor {
		width: 65px;
		height: 2px;
		background-color: $orange;
	}
	h2 {
		font-family: $Rel-Reg;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 400;
		padding-top: 105px;
		margin-bottom: 30px;
		// position: relative;
		// &::before {
		// 	content: "";
		// 	display: block;
		// 	width: 64px;
		// 	height: 2px;
		// 	background-color: $orange;
		// 	position: absolute;
		// 	bottom: -33px;
		// 	left: 0;
		// }
		
	}
	p {
		font-family: $OpS-Reg;
		font-size: $fs-sm;
		color: $grey;
		margin-top: 30px;
	}
}
.card-group-wrapper {
	display: flex;
	padding-bottom: 105px;
	padding-top: 80px;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
		h3 {
			font-family: $OpS-Bold;
			font-size: 17px;
			margin: 0;
		}
		p {
			font-family: $OpS-Reg;
			font-size: $fs-sm;
			color: $grey;
			margin-top: 30px;
			line-height: 1.6;
		}
		&:nth-child(2) {
			padding: 0 30px 0 30px;
		}
}
.svg-inline {
	width: 35px;
	height: 30px;
	color: $orange;
}
.card-svg {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid $orange;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s;
	margin-bottom: 30px;
	&:hover {
		cursor: pointer;
		background: rgba(247, 153, 85, .3);
	}
}
.pricing {
	background: $cf5;
}
.pricing-wrapper {
	padding-bottom: 96px;
	overflow: hidden;
}
.pricing-card {
	// width: 33.333%;
	width: 343px;
	
	&:nth-child(2) {
		margin: 0 40px 0 40px;
	}
}
.pricing-card-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 80px;
}
.pricing-card-body {
	text-align: center;
	& .pricing-card-caption p {
		font-family: $OpS-Bold;
		font-size: 16px;
		color: $cw;
		background-color: #333;
		padding: 22px 0;
		border-bottom: 2px solid $cw;
	}
	& .price {
		font-family: $Rel-Bold;
		font-size: 33px;
		color: $cw;
		background-color: #333;
		& .zero {
			font-size: 57px;
		}
		& .seven {
				font-size: 67px;
			}
		& .nine {
			font-size: 69px;
		}
		& .one {
			font-size: 54px;
		}
	}
	p {
		font-family: $OpS-SemiB;
		font-size: 11px;
		color: #999;
		font-style: italic;
		text-transform: inherit;
		background-color: #333;
		padding: 20px 0 22px 0;
		border-bottom: 5px solid $orange;
	}
	& .pricing-card-item {
		font-family: $OpS-Bold;
		font-size: 10px;
		color: $cw;
		text-transform: uppercase;
		background-color: $orange;
		padding: 14px;
	}
}
.features {
	text-align: center;
	background-color: $cw;
	font-family: $OpS-Reg;
	font-size: $fs-sm;
	font-weight: 300;
	color: #c3c3c5;
	text-transform: uppercase;
	& .features-item {
		border-bottom: 1px solid #f5f5f5;
		padding: 14px 0;
	}
	
}
.reviews {
	background: $cw;
}
.customer-wrapper {
	display: flex;
	padding-top: 55px;
	padding-bottom: 100px;
}
.customer-reviews {
	& .customer {
		font-family: $OpS-Reg;
		font-size: $fs-sm;
		line-height: 1.6;
		color: #949598;
		background-color: #f5f5f5;
		padding: 25px 12px;
		border-radius: 3px;
		font-style: italic;
		position: relative;
		 &::after {
			content: "";
			position: absolute;
			left: 20px;
			bottom: -20px;
			border: 10px solid transparent;
			border-top: 10px solid #f5f5f5;
		}
	}
	&:nth-child(2) {
		margin: 0 120px;
	}
}
.customer-name {
	display: flex;
	margin-top: 20px;
	// &::before {
	// 	content: "";
	// 	vertical-align: top;
	// 	background: url("../img/contact/face.jpg") 0 0px no-repeat;
	// 	width: 70px;
	// 	height: 70px;
	// 	display: inline-block;
	// }
	.customer-name-img {
		width: 70px;
		height: 70px;
		overflow: hidden;
		border-radius: 50%;
		background-image: url("../img/contact/face.jpg");
	}
	& .name {
		font-family: $OpS-Bold;
		font-size: 20px;
		padding-bottom: 10px;
	}
	& .profession {
		font-family: $OpS-Reg;
		font-size: $fs-sm;
		color: #a4a5a8;
	}
	 img {
		 padding-top: 10px;
		 padding-right: 15px;
	 }
}
.block-name {
	flex-direction: column;
	margin-left: 15px;
	padding-top: 15px;
}
.design {
	background-image: url("../img/design/street.jpg");
	background-size: cover;
}
.design-wrapper {
	margin: 0 auto;
}
.design-group-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 63px;
	h2 {
		font-family: $Rel-Reg;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 400;
		padding-top: 75px;
		margin-bottom: 70px;
		color: $cw;
		position: relative;
		&::after {
			content: "";
			display: block;
			width: 65px;
			height: 2px;
			background-color: $cw;
			// margin: 30px auto;
			position: absolute;
			top: 130%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	p {
		font-family: $Rel-Light;
		font-size: $fs-sm;
		color: #9c9992;
		margin-bottom: 33px;
	}
	a {
		font-family: $OpS-SemiB;
		font-size: 13px;
		text-transform: capitalize;
		color: $cw;
		border: 2px solid $cw;
		padding: 13px 30px;
		text-decoration: none;
		// margin-top: 33px;
		// margin-bottom: 63px;
		&:hover {
			color: $orange-10;
		}
	}
}
.contact-wrapper {
	padding-bottom: 80px;
}
.contact-btn {
	text-align:center;
	margin-top: 50px;
	& a {
		font-family: $OpS-SemiB;
		font-size: $fs-sm;
		text-decoration: none;
		cursor: pointer;
		background: $orange;
		padding: 16px 24px;
		color: $cw;
		border-radius: 3px;
		&:hover {
			background-color: $grey-10;
			color: $orange;
		}
	}
}
.form-footer {
	display: flex;
}
.form-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.form-group-left {
	width: 530px;
	flex: 0 1 50%;
}
.form-group-right {
	width: 530px;
	flex: 0 1 50%;
}

.form-btn {
	padding-top: 60px;
	
}
.contact {
	background: $cw;
}
.contact-wrapper {
	width: 100vw;
}

.footer {
	background-color: $black;
	
}
.footer-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	justify-content: center;
	
}
.footer-icons {
	padding-top: 15px;
	& svg {
		height: 24px;
		color: #ccc;
		margin: 0 15px;
	}
	p {
		font-family: $OpS-Reg;
		font-size: 10px;
		color: #585858;
		text-align: center;
		padding: 15px 0 15px 0;
		margin: 0;
	}
}
@import "./responsive.css";
@media(max-width:1200px) {
	
	
}
@media(max-width:969px) {
	

	.title-block-heading {
      //   padding-left: 20px;
	}
	.sub-list-wrapper {
		// display: flex;
		// justify-content: center;
		// align-items: center;
	}
	.sub-list-section {
		// padding-left: 50px;
	}
}
@media(max-width:767px) {
	
	
}
@media(max-width:576px) {
	.wrapper {
		max-width: none;
	}
}